# string functions

In [1]:
a="hello"
a

'hello'

In [2]:
#Accessing individual letters
a = "Hello, World!"
print(a[1])

e

In [3]:
b = "Hello, World!"
print(b[2:5])

llo

In [4]:
print(len(a)) #prints the length of the string
print(a.upper()) #prints the string in upper case
print(a.lower()) #prints the string in lower case
print(a.replace("H", "J")) #prints by replacing the letters

13
HELLO, WORLD!
hello, world!
Jello, World!

# String Concatenation

In [5]:
#c will give the ouput by concatenating both a and b.
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# String Methods

In [6]:
#isupper() is used to check weather the string is in upper case or not.Gives false because the string is in lower case
a="manu"
a.isupper()

False

In [7]:
#ilower() is used to check weather the string is in lower case or not.Gives true because the string is in lower case
a.islower()

True

In [8]:
#lstrip() removes the character in the string 
#rstrip() removes the right side character of the string
#lstring() removes the left side charcater of the string
a="*manu*"
print(a.lstrip("*"),a.rstrip("*"),a.strip("*"))

manu* *manu manu

In [9]:
a=" Manu Reddy"
a.lstrip()

'Manu Reddy'

In [10]:
#endswith(substring)-returns true ifthe string ends with substring
#startswith(substring)-returns true if the string starts with substring.
#find(substring)-returns thelowest index in the string where substring is found.
#replace(old, new)-returns acopy of the string with all instances of old replaced by new
a="Manaswini Reddy"
print(a.endswith("Reddy"),a.startswith("Manaswini"),a.find("Reddy"),a.replace("Reddy","Beereddy"))

True True 10 Manaswini Beereddy

In [11]:
#split()-returns a list containing the words inthe string
a="SRH forever"
a.split()

['SRH', 'forever']

In [12]:
#Can specify a different separator by passing it as anargument to the split method
a.split(",")

['SRH forever']

In [13]:
#String Tokens
str = 'peach raspberry strawberry vanilla'
tokens = str.split()
tokens

['peach', 'raspberry', 'strawberry', 'vanilla']

# Regular Expressions

In [14]:
#Tokenizes input text by finding all non-overlapping occurrences of 'abc'
import regex as re
def tokenize(text):
    return re.findall(r'abc', text)
x = tokenize("abcd 45abc  abc%   abc.com  acbrx  .=.abc.=.   ab c  cba  ABC  ")
x

['abc', 'abc', 'abc', 'abc', 'abc']

In [15]:
# Returns a list of substrings matching the pattern: character, 'oo', any character, 'y'.
import regex as re
def tokenize(text):
    return re.findall(r'.oo.y', text)
x = tokenize(" abcd gooey moody broody  goofy gummy  mooooudy  loopy  ooy ")
x

['gooey', 'moody', 'roody', 'goofy', 'loopy']

In [16]:
# Finds occurrences of 'abc.abc.com' in text, sensitive to exact match including the dot.
def tokenize(text):
    return re.findall(r'abc\.abc.com', text)
x = tokenize("abc.abc.com   abc.abc,com   abc,abc.com   ABC.abc.com ")
x

['abc.abc.com', 'abc.abc,com']